<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicServiceBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49153/upnp/control/basicevent1" binding="basicHttpBinding" bindingConfiguration="BasicServiceBinding" contract="ServiceReference1.BasicServicePortType" name="BasicServicePort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
